<div class="content">
  <div class="content-animated" *ngIf="page.bgAnimation" [style.backgroundImage]="'url(' + page.bgImage + ')'">
    <lottie-animation-view class="animation" [options]="lottieConfig" (animCreated)="handleAnimation($event)"></lottie-animation-view>
  </div>
  <div class="content-static" *ngIf="!page.bgAnimation" [style.backgroundImage]="'url(' + page.bgImage + ')'">
    <img *ngIf="page.bgImage" [src]="page.bgImage" class="image" alt="Image" />
  </div>
  <div class="panel">
    <h1>{{ page.name }}</h1>
    <p>{{ page.description }}</p>
    <div class="buttons">
      <button [routerLink]="page.pathPrev" [disabled]="!page.pathPrev" class="button-prev" (click)="play()">Previous</button>
      <button [routerLink]="page.pathNext" [disabled]="!page.pathNext" class="button-next" (click)="play()">Next</button>
    </div>
  </div>
</div>
