<div class="content" [style.backgroundImage]="'url('+ page.data.bgImage +')'">
  <img [src]="page.data.bgImage" class="image" alt="Image" />
  <div class="panel">
    <h1>{{ page.data.name }}</h1>
    <p>{{ page.data.description }}</p>
    <div class="buttons">
      <button [routerLink]="page.data.pathPrev" [disabled]="!page.data.pathPrev" class="button-prev">Previous</button>
      <button [routerLink]="page.data.pathNext" [disabled]="!page.data.pathNext" class="button-next">Next</button>
    </div>
  </div>
</div>
