.animation,
.image {
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  display: block;
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 40rem) {
  .content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    position: relative;
  }
  .background {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
  }
  .panel {
    margin-right: 2rem;
    min-width: 400px;
    z-index: 2;
  }
}
