<div class="content">
  <div class="content-animated" *ngIf="page.bgAnimation" [style.backgroundImage]="'url(' + page.bgImage + ')'">
      <lottie-animation-view
        *ngIf="page.bgAnimation"
        class="animation"
        [options]="lottieConfig"
        (animCreated)="handleAnimation($event)">
    </lottie-animation-view>
  </div>
  <div class="content-static" *ngIf="!page.bgAnimation" [style.backgroundImage]="'url(' + page.bgImage + ')'">
    <img *ngIf="page.bgImage" [src]="page.bgImage" class="image" alt="Image" />
  </div>
  <!-- <div id="player">
    <p>Speed: x{{animationSpeed}}</p>
    <div class="range-container">
    <input #range type="range" value="1" min="0" max="3" step="0.5"
      (change)="setSpeed(range.value)">
    </div>
    <button (click)="stop()">stop</button>
    <button (click)="pause()">pause</button>
    <button (click)="play()">play</button>
  </div> -->
  <div class="panel">
    <h1>{{ page.name }}</h1>
    <p>{{ page.description }}</p>
    <div class="buttons">
      <button [routerLink]="page.pathPrev" [disabled]="!page.pathPrev" class="button-prev">Previous</button>
      <button [routerLink]="page.pathNext" [disabled]="!page.pathNext" class="button-next">Next</button>
    </div>
  </div>
</div>
