// .background {
//   overflow: hidden;
//   position: relative;
//   z-index: 1;
// }

.content-animated,
.content-static {
  background-position: center;
  background-size: cover;
}

.content-static .image {
  visibility: hidden;
}

.animation,
.image {
  display: block;
  width: 100%;
}

// .background-animated .image {
//   left: 0;
//   position: absolute;
//   top: 0;
//   z-index: -1;
// }

.panel {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  display: block;
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 40rem) {
  .content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    position: relative;
  }
  .content-animated,
  .content-static {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  .panel {
    margin-right: 2rem;
    min-width: 400px;
    z-index: 2;
  }
}
